<<<<<<< HEAD


.gallery-wrapper {
=======
.gallery2-wrapper {
>>>>>>> origin/main
  width: 100%;
  font-family: sans-serif;
  background-color: #fff;
}

/* 1. Banner Đen Tiêu đề */
<<<<<<< HEAD
.gallery-banner {
  background-color: #0c1018;
  padding: 60px 0;
=======
.gallery2-banner {
  background-color: #0c1018;
  padding: 15px 0;
>>>>>>> origin/main
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

<<<<<<< HEAD
.gallery-banner h2 {
=======
.gallery2-banner h2 {
>>>>>>> origin/main
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

/* 2. Container căn giữa */
<<<<<<< HEAD
.gallery-container {
=======
.gallery2-container {
>>>>>>> origin/main
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

/* 3. Lưới ảnh (Grid System)*/
<<<<<<< HEAD
.gallery-grid {
=======
.gallery2-grid {
>>>>>>> origin/main
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px; 
  margin-bottom: 80px;
}

/* Style cho từng ảnh */
<<<<<<< HEAD
.gallery-item {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.gallery-img {
=======
.gallery2-item {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  box-sizing: border-box; /* quan trọng */
}

.gallery2-img {
>>>>>>> origin/main
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

<<<<<<< HEAD
.gallery-img:hover {
=======
.gallery2-img:hover {
>>>>>>> origin/main
  transform: scale(1.05);
}

/* Responsive: Điều chỉnh cho màn hình nhỏ */
<<<<<<< HEAD

@media (max-width: 992px) {
  .gallery-grid {
=======
@media (max-width: 992px) {
  .gallery2-grid {
>>>>>>> origin/main
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile (Màn hình điện thoại)*/
@media (max-width: 576px) {
<<<<<<< HEAD
  .gallery-grid {
    grid-template-columns: 1fr;
  }
}
=======
  .gallery2-grid {
    grid-template-columns: 1fr;
  }
}
>>>>>>> origin/main
