/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}


/* LAYOUT CHÍNH */
.admin-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background: #fff;
  overflow-x: hidden;
}


/* SIDEBAR */
.headerbar {
  width: 250px;
  height: 100vh;
  background: var(--bg-color);
  border-right: 1px solid #ffeded;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

/* NỘI DUNG CHÍNH */
.page-content {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  padding: 30px;
  background: #f5f5f5;
}

/* SECTION CHÍNH */
.QLP-section {
  background: white;
  padding: 30px;
  border-radius: 12px;
  max-width: 900px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.QLP-section h1 {
  margin-bottom: 12px;
  font-size: 2rem;
  color: #1d1d1d;
}

.QLP-section p {
  margin-bottom: 20px;
  color: #555;
  font-size: 1.1rem;
}

/* NÚT */
.QLP-btn {
  padding: 10px 20px;
  background: #ff6666;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.QLP-btn:hover {
  background: #ff3333;
}
