
.contact-us-wrapper {
  width: 100%;
  font-family: sans-serif;
}

/*1. Banner*/
.contact-banner {
  background-color: #0c1018;
  padding: 60px 0;
  text-align: center;
  color: white;
  margin-bottom: 50px;
}

.contact-banner h2 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

/*2. Container căn giữa*/
.contact-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/*3. Layout 2 cột (Flexbox)*/
.contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* Khoảng cách giữa Form và Map */
  margin-bottom: 80px;
}

.contact-col {
  flex: 1;
  min-width: 300px;
}

/*4. Form Input*/
.contact-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  background-color: #fdfdfd;
  font-size: 15px;
  outline: none;
  border-radius: 0;
  box-sizing: border-box;
}

.contact-input:focus {
  border-color: #df3433;
}

/*5. Nút Gửi (Viên thuốc)*/
.btn-submit-custom {
  background-color: #000;
  color: white;
  padding: 12px 50px;
  border-radius: 50px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  display: inline-block;
  margin-top: 5px;
}

.btn-submit-custom:hover {
  background-color: #df3433;
}

/*6. Bản đồ*/
.map-frame {
  width: 100%;
  height: 100%;
  min-height: 460px;
  border: 0;
  display: block;
}