.aboutus-section {
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 40px 0;
    background-color: white;
}

.aboutus-content {
    flex: 1;
}
.aboutus-image {
    flex: 1; /* Cho phép phần ảnh chiếm không gian có sẵn */
    display: flex; /* Đảm bảo ảnh được căn giữa nếu cần */
    justify-content: center;
    align-items: center;
}

.aboutus-content h2 {
    font-size: 3em;
    font-weight: 700;
    color: #333;
    position: relative;
    padding-left: 10px;
    margin-bottom: 20px;
}

.aboutus-content h2 span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 60%;
    width: 6px;
    background-color: red;
}

.aboutus-content p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #666;
}

.read-more-btn {
    background-color: black;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.read-more-btn:hover {
    background-color: red;
}

.aboutus-image img {
    max-width: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.aboutus-image img:hover {
    transform: scale(1.2);
}
