.room-img {
  width: 100px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.room-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Container danh sách phòng */
.room-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

/* Card từng phòng */
.room-card {
  background: #ffffff;
  padding: 14px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.room-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

/* Ảnh */
.room-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

/* Info */
.room-info h3 {
  font-size: 18px;
  margin: 10px 0 6px 0;
}

.room-info p {
  margin: 4px 0;
  color: #444;
}

.room-info .price {
  font-weight: bold;
  color: #e94d4d;
  font-size: 17px;
}


.QLP-btn {
  padding: 10px 20px;
  background: #ff6a6a;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-right:10px ;
}
.QLP-btnsua {
  padding: 10px 20px;
  background: #0472f9;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-right:10px ;
}
.QLP-btnxoa {
  padding: 10px 20px;
  background: #fe0d0d;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  margin-right:10px ;
}

.QLP-btn:hover {
  background: #ff3c3c;
}
.QLP-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
