:root {
  --text-color: #213547;
  --bg-color: #ffffff;
  --primary: #e60000;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--bg-color);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY – KHÔNG FLEX! */
body {
  min-width: 320px;
  width: 100%;
  color: var(--text-color);
  background-color: var(--bg-color);
}

/* LINK */
a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}
