.rooms-section {
    padding: 60px 0;
    text-align: center;
    background-color: #f7f7f7;
}

.rooms-header h2 {
    font-size: 2.5em;
    font-weight: 800;
    color: #333;
    position: relative;
    display: inline-block;
}

.rooms-header h2 span {
    position: absolute;
    bottom: 0;
    right: -10px;
    width: 30px;
    height: 5px;
    background-color: red;
    box-shadow: -15px 5px 0 red;
}

.room-grid {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.room-card {
    background: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.room-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.room-card img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.card-content {
    padding: 20px;
}

.highlight {
    box-shadow: 0 10px 25px rgba(249,212,212,0.15);
    border: 1px solid rgba(246,190,190,0.3);
}
.book-now-btn {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #ff7f50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.book-now-btn:hover {
  background-color: #ff5722;
}
